#dashboardcontainer{
    display: flex;
	flex-direction: column;
	padding-left: 50px;
	width: 100%;
}

.header-button-tray{
	margin-left: auto; /* This pushes the buttons to the right */
	display: flex;
    gap: 20px; /* Space between buttons */
}

.cardcontainer{
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    padding-top: 20px;
	gap: 10px;
    width: 100%;
    box-sizing: border-box;
}

.classcard{
	background: rgb(48, 48, 48);
    border-radius: 8px;
	width: 300px;
	overflow: hidden;
}

.class-card-banner {
    height: 150px;
    width: 100%;
}

.class-card-title {
	color: white;
}

.class-card-subtitle {
	padding-top: 2px;
	color: white;
}

.class-card-segment {
	padding: 15px;
	/*border: 1px solid red;*/
}

.class-card-term {
	padding-top: 3px;
	color: white;
}

.class-card-button-tray{
	display: flex;
    justify-content: space-between; /* Evenly distributes buttons */
    padding: 10px 15px; /* Add some padding inside the tray */
    width: 100%; /* Make sure the tray takes full width of the card */
}

.button-tray-button{
	background: none;
    border: none;
    cursor: pointer;
}

.button-tray-button img{
	width: 24px; /* Make images smaller - adjust as needed */
    height: 24px; /* Keep aspect ratio square */
}

.class-card-to-do-list{
	color: white;
	list-style: none;
	padding: 0;
}

.class-card-to-do-list-item{
	padding-top: 5px;
	padding-bottom: 5px;
}

.grade{
	padding: 15px;
	color:white;
}


#class-card-1 > .class-card-banner{
	background-color: #ff3737;
}


#class-card-2 > .class-card-banner{
	background-color: #37afff;
}


#class-card-3 > .class-card-banner{
	background-color: #62fa4e;
}


#class-card-4 > .class-card-banner{
	background-color: #b64ef3;
}