* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.wrapper{
	width: 75%;
	margin: auto;
}

body{
	background-color: rgb(15, 15, 15);
    color:white;
	font-family: Helvetica, sans-serif;
}

body.light-mode{
    background-color: white;
    color:black;
}

#root{
    min-height: 100vh;
	width: 100%;
    display: flex;
}

nav{
	background-color: rgb(0, 0, 0);
	display: flex;
    width: 60px;
    height: 100vh;
}

body.light-mode nav{
    background-color: rgb(230, 230, 230);
}

.nav-links-group {
    list-style: none;
    padding: 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
}

.nav-links-group li {
    margin: 5px 0;
    display: flex;
    justify-content: center; 
    width: 100%;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.nav-icon {
    width: 30px;
    margin: 5px 0;
    filter: invert(0%);
}

body.light-mode .nav-icon{
    filter: invert(70%);
}

header{
	display: flex;
	border-bottom: 1px solid grey;
	height: 100px;
	width: 96%;
}


.header-button{
	background: none;
    border: none;
    cursor: pointer;
}

.heading{
	width: 20%;
	padding-top: 30px;
}

.dropdown-menu{
    display: none;
    justify-content: center;
    background-color: rgb(48, 48, 48);
    position: absolute;
    width: 150px;
    height: 100px;
    right: 20px;
    top: 80px;
}

body.light-mode .dropdown-menu{
    background-color: rgb(230, 230, 230);
}

.dropdown-button{
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.2s;
    margin: auto;
}

a:hover {
	text-decoration: underline;
  }
  